

.box1{
    height: 100px;
    width: 100px;
    background-color: green;
    margin-bottom: 10px;
    opacity: 0.5;
  }
  .box2{
      height: 100px;
      width: 100px;
      background-color: green;
      opacity: 1;  
  }
  .box1:hover{
      opacity: 1;
  }
  .div1 ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: #161616;
      position: fixed;
      top: 0;
      width: 25%;
      height: 100%;
  }
  /*
  .div1 li{
      float: left;
  }*/

  .div1 li a{
      display: block;
      color: #fff;
      padding: 15px 10px;
      text-decoration: none;
  
  }
  .div1 li a:hover:not(.active){
      background-color: #6d4c4c;
  }
  
  .div1 .active{
      background: darkgreen;
  }
  /*
  .drop{
      color: #000;
      padding: 10px 10px;
      display: block;
  }
  */
  .main{
    margin-left: 26%;
  }
  .drop{
    display: none;
    position: absolute;
    background-color: #411515;
    min-width: 150px;
    box-shadow: 0px 7px 14px 0px
    rbga(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .drop{
    display: block;
  }


  
